$highlight-color: rgb(165, 111, 165);
$bg-color-dark:  rgb(31, 31, 31);
$bg-color-light: rgb(34, 34, 34);
$border-color: rgba(255, 255, 255, 0.1);
$danger-color: rgb(216, 71, 71);
$txt-color: #f5f5f5;
$txt-contrast-color: #000;
$hover-btn-color: rgba(255, 255, 255, 0.15);
$btn-transition: background-color 0.1s ease-in-out;
$transition: all 0.1s ease-in-out;
$height-no-bottom-nav: calc(100% - 50px);