body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
* {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  
}
img{
  pointer-events: none;
}
:root {
  --highlight-color: rgb(165, 111, 165);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
