body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background: linear-gradient(to bottom right, #00bcd4, #0064a7);
  background-size: cover;
}
* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
  box-sizing: border-box;
}
:root {
  --highlight-color: rgb(165, 111, 165);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
